@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --background-gradient: linear-gradient(
    180deg,
    rgba(110, 169, 245, 1) 0%,
    rgba(110, 169, 245, 0.5) 95%,
    rgba(255, 255, 255, 0.438) 100%
  );
  --blue-color: rgba(110, 169, 245, 1);
  --disabled-color: #999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-gradient);
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

//////////////////////////////////////////////////////
/*  Specific classes */
.button:hover,
span.lotto__number--circle,
i {
  cursor: pointer;
}

// Setting properties of lotto numbers
.lotto__number--circle {
  align-items: center;
  background-color: #3498ff;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 1em;
  height: 26px;
  justify-content: center;
  margin: 0 0.25em;
  padding: 1em;
  width: 26px;

  &:active,
  &.active {
    background-color: rgb(204, 140, 22);
  }

  &:hover {
    box-shadow: 0 0 0 2px black;
  }
}

// Setting flex on fields
.flex-numbers {
  display: flex;
  flex-wrap: wrap;
}

/* Styling components */
.site-container {
  min-height: 100vh;
  width: 100%;
}

// Butterflies on right side
.gif {
  position: absolute;
  right: 0%;
  top: 8%;
  width: 25%;
}

// Displaying a score
.winning-h1 {
  color: rgb(217, 231, 13);
  left: 10%;
  position: absolute;
  text-shadow: 1px 1px black;
  top: 25%;
  transform: scale(0);
  transition: 1s ease-in-out;

  &.active {
    transform: scale(1);
  }
}

// Made by
.made-by {
  color: white;
  letter-spacing: 2px;
  position: absolute;
  right: 3%;
  top: 3%;
}

// Social media
.social-media-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0.75em;
  position: absolute;
  top: 2%;
  width: 10%;

  i {
    color: white;
    font-size: 2.4em;
  }
}

// Navbar
.navbar__lotto {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);

  img {
    max-width: 200px;
    z-index: 3;
  }

  &.active {
    top: 3%;

    img {
      max-width: 350px;
    }

    & + .loading-container {
      display: none;
    }
  }
}

// Loading screen
.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

// Styling buttons
.button {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.25em;
  font-weight: 600;
  height: 60px;
  left: 50%;
  letter-spacing: 2px;
  position: absolute;
  top: 35%;
  transform: translateX(-50%);
  width: 200px;

  &:hover {
    border: transparent;
    background-color: orange;
    color: white;
  }

  &:disabled {
    border-color: var(--disabled-color);
    color: var(--disabled-color);

    &:hover {
      background-color: #666;
    }
  }

  &.new-cupon {
    top: 50%;
  }
}

// Styling fields container
.fields-container {
  bottom: 5%;
  display: flex;
  height: 30vh;
  justify-content: space-around;
  left: 0;
  position: absolute;
  width: 100%;

  .field {
    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 1px black;
    margin: 0.625em;
    padding: 1em;
    transform: scale(0);
    transition: 0.6s;

    &.visible {
      transform: scale(1);
    }
  }

  // Numbers to choose
  .numbers-to-choose {
    max-width: 41%;

    &::before {
      color: white;
      content: "Wybierz liczby!";
      display: block;
      left: 2.5%;
      position: absolute;
      top: -15%;
    }
  }

  // Random lotto numbers picker
  .random-lotto-numbers {
    display: flex;
    height: 12vh;
    width: 15%;

    &::before {
      color: white;
      content: "Wylosowane liczby:";
      display: block;
      left: 5%;
      overflow: hidden;
      position: absolute;
      top: -32%;
    }
  }

  // Levels description
  .levels-container {
    width: 20%;

    & * {
      margin-bottom: 5%;
    }
  }
}

/*  MEDIA QUERIES for MAX-WIDTH 1366PX and LANDSCAPE ORIENTATION */
@media (max-width: 1366px) and (orientation: landscape) {
  .social-media-container {
    i {
      margin-left: 20px;
    }
  }

  .navbar__lotto {
    img {
      transform: scale(0.75);
    }

    &.active {
      img {
        transform: scale(0.75);
      }
    }
  }

  .button {
    top: 30%;
    &.new-cupon {
      top: 45%;
    }
  }

  .fields-container {
    .random-lotto-numbers {
      height: 14vh;
      margin-top: 5%;
      width: 13%;
      &::before {
        top: -29%;
      }
    }
  }
}

/*  MEDIA QUERIES for MAX-WIDTH 1024PX and LANDSCAPE ORIENTATION */
@media (max-width: 1024px) and (orientation: landscape) {
  .winning-h1 {
    &.active {
      transform: scale(0.8);
    }
  }

  .social-media-container {
    a:nth-of-type(1) {
      margin-left: 40px;
    }
  }

  .navbar__lotto {
    img {
      transform: scale(0.6);
    }

    &.active {
      img {
        transform: scale(0.6);
      }
    }
  }

  .button {
    height: 50px;
    top: 35%;
    width: 165px;
  }

  .fields-container {
    bottom: 15%;

    .random-lotto-numbers {
      height: 19vh;
      width: 28%;

      &::before {
        top: -23%;
      }
    }
  }
}

/*  MEDIA QUERIES for MAX-WIDTH 915PX and LANDSCAPE ORIENTATION */
@media (max-width: 915px) and(orientation: landscape) {
  body {
    background: var(--blue-color);
  }

  .winning-h1 {
    left: 5%;
    &.active {
      transform: scale(0.8);
    }
  }

  .navbar__lotto {
    img {
      max-width: 100px;
    }

    &.active {
      img {
        max-width: 150px;
      }
    }
  }

  .button {
    height: 40px;
    top: 32%;
    width: 145px;
  }

  .fields-container {
    bottom: 0;

    .numbers-to-choose {
      &::before {
        top: -11%;
      }
    }
    .random-lotto-numbers {
      height: 28vh;
      width: 30%;
      &::before {
        top: -29%;
      }
    }
  }
}

/*  MEDIA QUERIES for MAX-WIDTH 740PX and LANDSCAPE ORIENTATION */
@media (max-width: 740px) and(orientation: landscape) {
  .navbar__lotto {
    img {
      transform: scale(0.8);
    }

    &.active {
      img {
        transform: scale(0.8);
      }
    }
  }

  .fields-container {
    .numbers-to-choose {
      &::before {
        top: -9%;
      }
    }

    .random-lotto-numbers {
      height: 24vh;

      &::before {
        top: -34%;
      }
    }
  }
}

/*  MEDIA QUERIES for MAX-WIDTH 653px and LANDSCAPE ORIENTATION */
@media (max-width: 653px) and (orientation: landscape) {
  .winning-h1 {
    &.active {
      transform: scale(0.7);
    }
  }

  .navbar__lotto {
    img {
      max-width: 75px;
    }

    &.active {
      img {
        max-width: 115px;
      }
    }
  }

  .button {
    height: 30px;
    width: 115px;
  }

  .fields-container {
    .numbers-to-choose {
      max-width: 100%;

      &::before {
        top: -18%;
      }
    }

    .random-lotto-numbers {
      height: 30vh;
      width: 30%;
    }

    .levels-container {
      width: 45%;
    }
  }
}

/*  MEDIA QUERIES for MAX-WIDTH 912PX and PORTRAIT ORIENTATION */
@media (max-width: 912px) and (orientation: portrait) {
  .winning-h1 {
    left: 50%;
    transform: scale(0);

    &.active {
      transform: scale(1.2) translateX(-45%);
    }
  }

  .social-media-container {
    a:nth-of-type(1) {
      margin-left: 40px;
    }

    i {
      margin-left: 20px;
    }
  }

  .button {
    height: 80px;

    &.new-cupon {
      top: 45%;
    }
  }

  .fields-container {
    .numbers-to-choose {
      &::before {
        top: -8%;
      }
    }

    .random-lotto-numbers {
      &::before {
        top: -19%;
      }
    }
  }
}
/*  MEDIA QUERIES for MAX-WIDTH 768PX and PORTRAIT ORIENTATION */
@media (max-width: 768px) and(orientation: portrait) {
  .winning-h1 {
    &.active {
      transform: scale(1) translateX(-45%);
    }
  }

  .navbar__lotto {
    img {
      max-width: 165px;
    }

    &.active {
      img {
        max-width: 200px;
      }
    }
  }

  .button {
    height: 60px;
  }

  .fields-container {
    .numbers-to-choose {
      &::before {
        top: -11%;
      }
    }

    .random-lotto-numbers {
      &::before {
        top: -43%;
      }
    }
  }
}

/*  MEDIA QUERIES for MAX-WIDTH 540PX and PORTRAIT ORIENTATION */
@media (max-width: 540px) and(orientation: portrait) {
  body {
    background: var(--blue-color);
  }

  .winning-h1 {
    left: -5%;
    &.active {
      transform: scale(0.52);
    }
  }

  .social-media-container {
    a:nth-of-type(1) {
      margin-left: 60px;
    }
  }

  .navbar__lotto {
    &.active {
      top: 7%;
    }
  }

  .button {
    height: 35px;
    top: 30%;
    width: 145px;

    &.new-cupon {
      top: 38%;
    }
  }

  .fields-container {
    align-items: center;
    bottom: 5%;
    flex-wrap: wrap;
    height: 50vh;

    .numbers-to-choose {
      max-width: 100%;

      &::before {
        top: -20%;
      }
    }

    .random-lotto-numbers {
      height: 18vh;
      width: 28%;

      &::before {
        top: -29%;
      }
    }

    .levels-container {
      width: 40%;
    }
  }
}

/*  MEDIA QUERIES for MAX-WIDTH 414PX and PORTRAIT ORIENTATION */
@media (max-width: 414px) and (orientation: portrait) {
  .winning-h1 {
    top: 23%;
  }

  .fields-container {
    .numbers-to-choose {
      &::before {
        top: -15%;
      }
    }

    .random-lotto-numbers {
      &::before {
        top: -37%;
      }
    }
  }
}

/*  MEDIA QUERIES for MAX-WIDTH 393PX and PORTRAIT ORIENTATION */
@media (max-width: 393px) and(orientation: portrait) {
  .winning-h1 {
    left: -11%;
    top: 15%;
  }

  .social-media-container {
    a:nth-of-type(1) {
      margin-left: 50px;
    }
  }

  .navbar__lotto {
    img {
      max-width: 105px;
    }

    &.active {
      transform: translateX(-20%);
      top: 10%;
      img {
        max-width: 140px;
      }
    }
  }

  .button {
    top: 25%;

    &.new-cupon {
      top: 33%;
    }
  }

  .fields-container {
    height: 55vh;
    .numbers-to-choose {
      &::before {
        top: -11%;
      }
    }

    .random-lotto-numbers {
      height: 29vh;

      &::before {
        top: -21%;
      }
    }
  }
}

/*  MEDIA QUERIES for MAX-WIDTH 375PX and PORTRAIT ORIENTATION */
@media (max-width: 375px) and(orientation: portrait) {
  .made-by {
    right: -3%;
    transform: scale(0.62);
  }

  .social-media-container {
    a:nth-of-type(1) {
      margin-left: 60px;
    }
  }

  .navbar__lotto {
    &.active {
      top: 7%;
    }
  }

  .button {
    top: 23%;

    &.new-cupon {
      top: 31%;
    }
  }

  .fields-container {
    .random-lotto-numbers {
      height: 34vh;

      &::before {
        top: -23%;
      }
    }
  }
}

/*  MEDIA QUERIES for MAX-WIDTH 360PX and PORTRAIT ORIENTATION */
@media (max-width: 360px) and (orientation: portrait) {
  .fields-container {
    .random-lotto-numbers {
      &::before {
        top: -21%;
      }
    }
  }
}

/*  MEDIA QUERIES for MAX-WIDTH 280PX and PORTRAIT ORIENTATION */
@media (max-width: 280px) and (orientation: portrait) {
  .winning-h1 {
    left: -16%;
    top: 13%;
  }

  .made-by {
    right: -10%;
  }

  .button {
    top: 22%;

    &.new-cupon {
      top: 31%;
    }
  }

  .navbar__lotto {
    img {
      max-width: 75px;
    }

    &.active {
      top: 9%;
      transform: translateX(9%);
      img {
        max-width: 115px;
      }
    }
  }

  .fields-container {
    .numbers-to-choose {
      &::before {
        top: -8%;
      }
    }

    .random-lotto-numbers {
      &::before {
        top: -24%;
      }
    }
  }
}
