@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
:root {
  --background-gradient: linear-gradient(
    180deg,
    rgba(110, 169, 245, 1) 0%,
    rgba(110, 169, 245, 0.5) 95%,
    rgba(255, 255, 255, 0.438) 100%
  );
  --disabled-color: #999;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: var(--background-gradient);
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

.button:hover,
span.lotto__number--circle,
i {
  cursor: pointer;
}

.lotto__number--circle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3498ff;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  height: 26px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0.25em;
  padding: 1em;
  width: 26px;
}

.lotto__number--circle:active, .lotto__number--circle.active {
  background-color: #cc8c16;
}

.lotto__number--circle:hover {
  -webkit-box-shadow: 0 0 0 2px black;
          box-shadow: 0 0 0 2px black;
}

.flex-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Styling components */
.site-container {
  min-height: 100vh;
  width: 100%;
}

.gif {
  position: absolute;
  right: 0%;
  top: 8%;
  width: 25%;
}

.winning-h1 {
  color: #d9e70d;
  left: 10%;
  position: absolute;
  text-shadow: 1px 1px black;
  top: 25%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.winning-h1.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.made-by {
  color: white;
  letter-spacing: 2px;
  position: absolute;
  right: 3%;
  top: 3%;
}

.social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0.75em;
  position: absolute;
  top: 2%;
  width: 10%;
}

.social-media-container i {
  color: white;
  font-size: 2.4em;
}

.navbar__lotto {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.navbar__lotto img {
  max-width: 200px;
  z-index: 3;
}

.navbar__lotto.active {
  top: 3%;
}

.navbar__lotto.active img {
  max-width: 350px;
}

.navbar__lotto.active + .loading-container {
  display: none;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.button {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.25em;
  font-weight: 600;
  height: 60px;
  left: 50%;
  letter-spacing: 2px;
  position: absolute;
  top: 35%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200px;
}

.button:hover {
  border: transparent;
  background-color: orange;
  color: white;
}

.button:disabled {
  border-color: var(--disabled-color);
  color: var(--disabled-color);
}

.button:disabled:hover {
  background-color: #666;
}

.button.new-cupon {
  top: 50%;
}

.fields-container {
  bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  left: 0;
  position: absolute;
  width: 100%;
}

.fields-container .field {
  background-color: #f0f0f0;
  border: 1px solid black;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 2px 1px black;
          box-shadow: 1px 1px 2px 1px black;
  margin: 0.625em;
  padding: 1em;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.fields-container .field.visible {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.fields-container .numbers-to-choose {
  max-width: 41%;
}

.fields-container .numbers-to-choose::before {
  color: white;
  content: "Wybierz liczby!";
  display: block;
  position: absolute;
  top: -15%;
  left: 5%;
}

.fields-container .random-lotto-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12vh;
  width: 15%;
}

.fields-container .random-lotto-numbers::before {
  color: white;
  content: "Wylosowane liczby:";
  display: block;
  overflow: hidden;
  position: absolute;
  top: -32%;
  left: 5%;
}

.fields-container .levels-container {
  width: 20%;
}

.fields-container .levels-container * {
  margin-bottom: 5%;
}

@media (max-width: 1366px) {
  .navbar__lotto img {
    max-width: 150px;
  }
  .navbar__lotto.active img {
    max-width: 225px;
  }
  .button {
    height: 45px;
    width: 150px;
  }
  .fields-container {
    bottom: 15%;
    height: 25vh;
  }
  .fields-container .random-lotto-numbers {
    height: 14vh;
    margin-top: 5%;
    width: 26%;
  }
  .fields-container .random-lotto-numbers::before {
    top: -34%;
  }
  .fields-container .levels-container {
    width: 20%;
  }
  .fields-container .levels-container * {
    margin-bottom: 5%;
  }
}

@media (max-width: 1280px) {
  .button.new-cupon {
    top: 45%;
  }
  .fields-container .random-lotto-numbers {
    height: 14vh;
    margin-top: 5%;
    width: 13%;
  }
}

@media (max-width: 1024px) {
  .navbar__lotto img {
    max-width: 125px;
  }
  .navbar__lotto.active img {
    max-width: 175px;
  }
  .button {
    top: 30%;
  }
  .button.new-cupon {
    top: 43%;
  }
  .fields-container {
    bottom: 27%;
    height: 15vh;
  }
  .fields-container .random-lotto-numbers {
    height: 14vh;
    width: 28%;
  }
  .fields-container .random-lotto-numbers::before {
    top: -39%;
  }
}
/*# sourceMappingURL=style.css.map */